<div class="bg-white pt-3 sm:pt-3 lg:pt-3">
  <footer class="mt-auto mx-auto max-w-screen-2xl px-4 md:px-4">
    <div class="flex flex-col items-center border-t pt-2">
            <!-- social - start -->
      
      <!-- social - end -->
    </div>

    <div class="py-1 text-center text-sm text-gray-400">© 2023 - Joshua Amiel Davocol</div>
  </footer>
</div>