<div class="flex flex-col mx-32">
  <div class="flex flex-row items-center justify-between pb-1">
    <h1 class="font-bold text-4xl">Product Categories</h1>
    <%= link_to "Back", product_categories_path, class: "rounded-lg py-3 px-5 bg-blue-600 hover:bg-blue-900 text-white inline-block font-medium cursor-pointer" %>
  </div>
  <div class="h-screen mx-auto">
    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Edit Product Category</h2>
    <%= form_for @product_category do |form| %>
        <%= render "form", form: form %>
    <% end %>
  </div>
</div>  
